# {{ title }} 

[![GNU GPL](http://img.shields.io/:license-gpl3-blue.svg)](http://www.gnu.org/licenses/gpl-3.0.html)

This is where your project description will go. It can be as detailed or succinct as you wish, but it is generally a good idea to keep the initial description to just the elevator pitch. You can go into more detail in the resulting sections.

## Installation

Include any installation instructions your projcet may require.

## Usage

Include examples of basic usage of your project here.

## Support

Please use the issue tracker for bug reports and feature requests. It is a good idea to include a link for easier navigation.

## Contributing

Please contribute using [Github Flow](https://guides.github.com/introduction/flow/). Create a branch, add commits, and open a pull request.

## History

You can write a bulleted history of your project here, though this is not a requirement as a well written git log can say much more about the history of a project.

## License

This project is licensed under the GNU GPL License - see the [LICENSE.md](LICENSE.md) file for details

## Acknowledgements

Give any shout outs or special thanks to projects or people that helped you accomplish the desired functionality of the project.
